/* Bunny (Figtree) */
@import url("https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap");

/* Google Fonts (Cinzel, Roboto, Baloo 2) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&display=swap");

/* Google Fonts (Tilt Warp) */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
