/* Bunny (Figtree) */
@import url("https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap");

/* Google Fonts (Cinzel, Roboto, Baloo 2) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&display=swap");

/* Google Fonts (Tilt Warp) */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

/* Google Fonts PT Serif */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ===== Averia Sans (local) ===== */
@font-face {
    font-family: "Averia Sans";
    src: url("./fonts/averia_sans/AveriaSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans";
    src: url("./fonts/averia_sans/AveriaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Averia Sans";
    src: url("./fonts/averia_sans/AveriaSans-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.font-averia-regular {
    font-family:
        "Averia Sans",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Arial,
        sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-averia-bold {
    font-family:
        "Averia Sans",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Arial,
        sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-averia-light {
    font-family:
        "Averia Sans",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Arial,
        sans-serif;
    font-weight: 400;
    font-style: italic;
}
