@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* seus breakpoints customizados */
    --breakpoint-uxs: 300px;
    --breakpoint-xs: 400px;
    --breakpoint-2xs: 500px;
    --breakpoint-2md: 910px;
    --breakpoint-2lg: 1140px;

    --font-sans:
        "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* suas cores... */
    --color-zinc-50: #fafafa;
    /* ... etc ... */

    /* containers */
    --container-8xl: 96rem;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-ee-gold-1: #c9b359;
    --color-ee-gold-2: #9c8f44;
    --color-ee-gold-3: #69662d;
    --color-ee-blue-1: #052f4a;
    --color-ee-blue-2: #0c3e60;
    --color-ee-blue-3: #163b53;
    --color-ee-cream: #f9f5ea;

    --color-accent: var(--color-ee-gold-1);
    --color-accent-content: var(--color-ee-gold-1);
    --color-accent-foreground: var(--color-ee-blue-1);
}

@layer theme {
    .dark {
        --color-accent: var(--color-ee-gold-1);
        --color-accent-content: var(--color-ee-gold-1);
        --color-accent-foreground: var(--color-ee-blue-1);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply mb-0! leading-tight!;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
